html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Inter';
  margin-bottom: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.logo {
  position: absolute;
  top: 45px;
  right: 75px;
  width: 50px;
}

.site-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  margin-top: 45px;
  font-weight: bold;
}

.site-subtitle {
  margin-top: 20px;
}

.main-content {
  margin-left: 20%;
  margin-top: 5%;
  gap: 20px;
  max-width: 900px;
}

.what-this {
  color: red;
  font-size: 20px;
}

.which-means {
  color: red;
  font-size: 20px;
}

.how {
  color: red;
  font-size: 20px;
}

li, ul, ol {
  margin-left: 48px;
  padding-top: 12px;
}

.what-to-do {
  color: red;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
}

.disclaimer {
  font-size: 12px;
  color: gray;
  text-align: center;
  margin-top: 100px;
  max-width: 450px;
}

.link {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

@media (max-width: 768px) {
  
  body {
    font-size: 12px;
  }

  .logo {
    right: 11%;
  }

  .site-title {
    padding-top: 5%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .site-subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .main-content {
    max-width: 325px;
    margin-left: 10%;
  }

  li, ul, ol {
    max-width: 325px;
    margin: 0%;
    margin-left: 10%;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Inter';
    margin-bottom: 18px;
  }
}
